{% extends 'home/index.html' %}
{% block custome_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/lib/calendar/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event_form.css') }}">
{% endblock %}
{% block main_content %}
    <section>
        <div class='container'>
            <div class='row' id="parent_calender_section">
                <div class='col-md-9'>
                    <div id='calendar'></div>
                    <div id="list_calendar_div"></div>
                </div>
                <div class='col-md-3 side-container'>
                    <a class="event-modal" onclick="event_modal();">Create events</a>
                    <a class="event-modal" id="list_events_link">View list of events</a>
                    <a class="event-modal" id="show_calendar_link" style="display: none;">Show Calendar</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block bootstrap_modal %}
{{super()}}
<div class="modal fade fasiamodal" id="admin_event_modal" tabindex="-1" role="dialog" aria-labelledby="getAdvisorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md fasia-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h3 class="fasiamodal-title" id="addEventModalLabel">Create Event</h3>
                <form name="event_form" class="form-horizontal event_form">
                    <input type="hidden" name="event_id">
                    <div class="form-group">
                        <label for="event_name" class="col-sm-3 text-left colon">Event Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="event_name" id="event_name" required="true">
                            <span class="help-block" id="help_event_name"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5" for='start_date'>Start</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control dob-field" name="start_date" placeholder="MM/DD/YYY" id="start_date" readonly required="true">
                                    <span class="help-block" id="help_start_date"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2" for='end_date'>End</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control dob-field" name="end_date" placeholder="MM/DD/YYY" id="end_date" readonly>
                                    <span class="help-block" id="help_end_date"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="event_description" class="col-sm-3 text-left colon">Description</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" name="event_description" id="event_description" rows=6 required="true"></textarea>
                            <span class="help-block" id="help_event_description"></span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <button type="button" class="btn fasia-btn" name="create_event">CREATE</button>
                        <button type="button" class="btn fasia-default" name="cancel_event" data-dismiss="modal">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lib_scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/lib/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/calendar/fullcalendar.js') }}"></script>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}
