{% extends 'home/login.html' %}
{% block custome_css %}
    {{super()}}
{% endblock %} 
{% block sm_sticky %} 
{% endblock %} 
{% block main_content %}
<section id="goal">
    <div class="container goal-container">
        <div class="section-header">
            <h3>2018 Goal by numbers</h3>
        </div>
        <div class="row counters">
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card1">
                    <div class="card-content">
                        <span class="counter">50</span>
                        <p>State Chapters</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card2">
                    <div class="card-content">
                        <span class="counter">200</span>
                        <p>City Chapters</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card3">
                    <div class="card-content">
                        <span class="counter">20,000</span>
                        <p>Members</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card4">
                    <div class="card-content">
                        <span class="counter">5,000</span>
                        <p>New Advisor Enrollment</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row counters">
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card5">
                    <div class="card-content">
                        <span class="counter">5</span>
                        <p>Regional Convention</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card6">
                    <div class="card-content">
                        <span class="counter">1</span>
                        <p>National Convention</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card7">
                    <div class="card-content">
                        <span class="counter">50</span>
                        <p>State Convention</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card8">
                    <div class="card-content">
                        <span class="counter">25</span>
                        <p>Institutional Members</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row counters">
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card9">
                    <div class="card-content">
                        <span class="counter">3</span>
                        <p>Academic Members</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card10">
                    <div class="card-content">
                        <span class="counter">10</span>
                        <p>Newsletters Release</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card11">
                    <div class="card-content">
                        <span class="counter">100,000</span>
                        <p>Free Advice</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-sm-6 col-xs-6 text-center">
                <div class="goal-cards card12">
                    <div class="card-content">
                        <span class="counter">3</span>
                        <p>International Chapters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <h2 class="inter-heading">*International Chapters - ASEAN, Arabia, Canada</h2>
        </div>
    </div>
</section>
{% endblock %}
{% block bootstrap_modal %}
    {{super()}}
{% endblock %}