{% extends 'home/login.html' %}
{% block custome_css %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/organisation_structure.css')}}" rel="stylesheet">
{% endblock %}
{% block sm_sticky %} 
{% endblock %}
{% block main_content %}
<section>
    <div class="container">
        <div class="row text-center organisation-strucure organisation-strucure-img">
            <h2 class="orenge-color">ORGANISATION STRUCTURE</h2>
            <h4>National and International Board of Governors</h4>
            <img src="static/images/organisation-structure/desktop/slide-one-infographic.png" class="organisation-governors">
            <img src="static/images/organisation-structure/mobile/slide-one-mobile-infographic@3x-8.png" class="organisation-m-governors">
        </div>
    </div>
</section>
<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure organisation-strucure-img">
            <h2>NATIONAL STRUCTURE</h2>
            <img src="static/images/organisation-structure/desktop/slide-two-infographic.png" class="organisation-governors">
            <img src="static/images/organisation-structure/mobile/slide-two-mobile-infographic.png" class="organisation-m-governors">
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>FOUNDING MEMBERS</h2>
            <div class="col-sm-12">
                <div class="row founding-member">
                    <div class="col-sm-4 col-xs-4 founding-member-b-10 col-md-3 organisation-strucure-100  col-md-offset-2 left-content">
                        <p>One National Body per country US-Canada</p>
                        <img src="static/images/organisation-structure/desktop/slide3/line-mobile-infographic.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 founding-member-b-10 col-md-2 organisation-strucure-100">
                        <img src="static/images/organisation-structure/desktop/slide3/slide-three-mobile-infographic1.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 founding-member-b-10 col-md-3 organisation-strucure-100 right-content">
                        <p>25 Founding Members 10 Founding Members from the Founding Sponsor 5 Regional Representatives 10 Paid Founding Membership</p>
                    </div>
                </div>
                <div class="row founding-member">
                    <div class="col-sm-4 col-xs-4 col-md-3 founding-member-b-10 organisation-strucure-100 col-md-offset-2 left-content">
                        <p>5 Regional Bodies in United States </br> 2 Regional Bodies in Canada</p>
                        <img src="static/images/organisation-structure/desktop/slide3/line-mobile-infographic.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-2 founding-member-b-10 organisation-strucure-100">
                        <img src="static/images/organisation-structure/desktop/slide3/slide-three-mobile-infographic2.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-3 founding-member-b-10 organisation-strucure-100 right-content">
                        <p>15 Founding Members </br> 10 State Representatives </br> 5 Paid members as Founders</p>
                    </div>
                </div>
                <div class="row founding-member">
                    <div class="col-sm-4 col-xs-4 col-md-3 founding-member-b-10 organisation-strucure-100 col-md-offset-2 left-content">
                        <p>50 State Bodies in US </br> 6 State Bodies in US</p>
                        <img src="static/images/organisation-structure/desktop/slide3/line-mobile-infographic.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-2 founding-member-b-10 organisation-strucure-100">
                        <img src="static/images/organisation-structure/desktop/slide3/slide-three-mobile-infographic3.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-3 founding-member-b-10 organisation-strucure-100 right-content">
                        <p>10 Founding Members </br> 1 per city as City Representatives Remaining will be by the paid founding member</p>
                    </div>
                </div>
                <div class="row founding-member">
                    <div class="col-sm-4 col-xs-4 col-md-3 founding-member-b-10 organisation-strucure-100 col-md-offset-2 left-content">
                        <p>3-4 cities per state will have the </br> City Chapters</p>
                        <img src="static/images/organisation-structure/desktop/slide3/line-mobile-infographic.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-2 founding-member-b-10 organisation-strucure-100">
                        <img src="static/images/organisation-structure/desktop/slide3/slide-three-mobile-infographic4.png">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-2 founding-member-b-10 organisation-strucure-100 right-content">
                        <p>5 Founding Members </br> 1 Founding Principal </br> 50 Membership Limit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>HIERARCHY AT EVERY LEVEL</h2>
            <div class="col-sm-12">
                <div class="row founding-member hierarchy-at-every-level">
                    <div class="col-sm-3 col-xs-3 col-md-2 organisation-strucure-100 col-md-offset-2">
                        <img class="hierarchy-img" src="static/images/organisation-structure/desktop/slide4/slide-four-mobile-infographic1.png">
                        <p>(By Election)<br/> Every Year</p>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-2 organisation-strucure-100">
                        <img class="hierarchy-img" src="static/images/organisation-structure/desktop/slide4/slide-four-mobile-infographic2.png">
                        <p>(By Election)<br/> Every Year</p>
                        <img src="static/images/organisation-structure/desktop/slide4/slide-four-mobile-infographic-line.png">
                        <p>Working Committee</p>
                        <img src="static/images/organisation-structure/desktop/slide4/slide-four-mobile-infographic-line.png">
                        <P>3 - Members Committee Finance Administration Events Member Drive Education</P>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-2 organisation-strucure-100">
                        <img class="hierarchy-img" src="static/images/organisation-structure/desktop/slide4/slide-four-mobile-infographic3.PNG">
                        <p>(By Appoinment of <br/> Chair and Co-Chair)</p>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-2 organisation-strucure-100">
                        <img class="hierarchy-img" src="static/images/organisation-structure/desktop/slide4/slide-four-mobile-infographic4.png">
                        <p>(By Appoinment of <br/> Chair/Co-Chair/Secretary)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>NATIONAL & INTERNATIONAL BOARD OF GOVERNORS</h2>
            <div class="col-md-12">
                <div class="row founding-member hierarchy-at-every-level">
                    <div class="col-md-5 col-sm-6 col-xs-6 organisation-strucure-100 col-md-offset-1 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic1.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-left">
                                <li>Chairman of the Board</li>
                                <li>Governors</li>
                            </ul>
                            <p>-Governor General</p>
                            <p>-Treasurer General</p>
                            <p>-Secretary General</p>
                            <p>-Advisor General</p>
                            <p>-Regional Governor</p>
                            <p>(East, West, North, South, Central)</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 organisation-strucure-100 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic2.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-right">
                                <li>Central Governing Body</li>
                                <li>Sets the Vision & Goals for the Year</li>
                                <li>Facilitates & Overseas Regional Council's Growth</li>
                                <li>Designs Policies, Guidelines & Procedures for the       Association, Regional, State & City Councils</li>
                                <li>Apellate Authority for resolving Regional issues</li>
                                <li>Creates Educational Content & Knowledge Resources for the Association - with help from National & International Advisory Council</li>
                                <li>Represents Investor Interests at Federal Government Level</li>
                                <li>Conduct National Level Meets/ Workshops/ Seminar / Industry Interfaces / Advisor Meets</li>
                            </ul>                           
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>ADVISORY COUNCIL</h2>
            <div class="col-md-12">
                <div class="row founding-member hierarchy-at-every-level">
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic3.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-left">
                                <li>Advisor General(Chairman)</li>
                                <li>Members</li>
                            </ul>
                            <p>-Investor Education</p>
                            <p>-Investor Protection</p>
                            <p>-Captial Market</p>
                            <p>-Commodity Market</p>
                            <p>-Bullion Market</p>
                            <p>-Real Estate</p>
                            <p>-Mutual Funds</p>
                            <p>-Wealth Management</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic4.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-right">
                                <li>Each Member manages a team of educators & Trainers who disseminate information / run training programs at Regional / State & City Levels</li>
                                <li>Update Content for the Website</li>
                                <li>Conduct Webinars/ Seminars & Workshops</li>
                                <li>Manages the Expert Help Desk (online)</li>
                                <li>Assist the Board of Governors in drafting Agendas for change to be repersented to Federal Government & National regulatory Authorities.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>REGIONAL COUNCIL</h2>
            <div class="col-md-12">
                <div class="row founding-member hierarchy-at-every-level">
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 col-md-offset-1 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic5.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-left">
                                <li>Regional Governor</li>
                            </ul>
                            <p>-Regional Director</p>
                            <p>-State Conveners</p>
                            <p>-Treasurer</p>
                            <p>-Secretary</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic6.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-right">
                                <li>Facilitates & Oversees functioning of the State Councils</li>
                                <li>Represents Investor Interests at Regional Fora / Industrial Associations</li>
                                <li>Conduct Regional Level Meets - Seminars / Workshops</li>
                                <li>Suggestions to Advisory Council on Educational Content Requirements</li>
                                <li>Apellate Authority for State Council Issues</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>STATE COUNCIL</h2>
            <div class="col-md-12">
                <div class="row founding-member hierarchy-at-every-level">
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 col-md-offset-1 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic7.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-left">
                                <li>State Governor</li>
                            </ul>
                            <p>-State Director</p>
                            <p>-District / City Conveners</p>
                            <p>-Treasurer</p>
                            <p>-Secretary</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic8.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-right">
                                <li>Facilitates & Oversees functioning of the State Councils</li>
                                <li>Represents Investor Interests at Regional Fora / Industrial Associations</li>
                                <li>Conduct Regional Level Meets - Seminars / Workshops</li>
                                <li>Suggestions to Advisory Council on Educational Content Requirements</li>
                                <li>Apellate Authority for State Council Issues</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-blue">
    <div class="container">
        <div class="row text-center organisation-strucure">
            <h2>CITY CHAPTER</h2>
            <div class="col-md-12">
                <div class="row founding-member hierarchy-at-every-level">
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 col-md-offset-1 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic9.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-left">
                                <li>City Governor</li>
                            </ul>
                            <p>-City Director</p>
                            <p>-City Counselor (Member Relations)</p>
                            <p>-Treasurer</p>
                            <p>-Secretary</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 organisation-strucure-100 national-international">
                        <img src="static/images/organisation-structure/desktop/slide5/slide-five-mobile-infographic10.png">
                        <div class="text-left national-international-content">
                            <ul class="ul-right">
                                <li>Advisor Membership drives</li>
                                <li>Achieve Membership Targets</li>
                                <li>Organize Advisor Meets at City level</li>
                                <li>Suggestions to Advisory Council on Education Content</li>
                                <li>Member issues redressal</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block bootstrap_modal %}
    {{super()}} 
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}