{% extends 'home/login.html' %}
{% block custome_css %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/press_releases.css')}}" rel="stylesheet">
{% endblock %}
{% block sm_sticky %}
{% endblock %}
{% block main_content %}
<section class="">
    <div class="container">
        <h1 class='press-heading'>Coming soon</h1>
    </div>
    <div class="row">
        <h3 class='press-head'>Thank you!</h3>
    </div>
</section>
{% endblock %}
{% block bootstrap_modal %}
    {{super()}}
{% endblock %}