{% extends 'home/login.html' %}
{% block custome_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reset-password.css')}}">
{% endblock %}
{% block sm_sticky %}
{% endblock %}
{% block main_content %}
    <section class="reset-bg">
        <h1 class="reset-password-title">RESET PASSWORD</h1>
    </section>
    <section>
        <div class="container">
            <div class="row reset-form">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <input type="password" name="new_pwd" id="new_pwd" placeholder="New password" class="form-control" pwd-pattern="true" required="true" min-length="8" max-length="20">
                            <span class="help-block" id="help_new_pwd"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="conf_pwd" id="conf_pwd" placeholder="Confirm password" class="form-control" pwd-pattern="true" required="true" min-length="8" max-length="15">
                            <span class="help-block" id="help_conf_pwd"></span>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn reset-password-btn" name="reset_submit_btn">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="reset-password">Your password should contain:</p>
                            <ol class="password-content">
                                <li>Should be minimum of 8 characters</li>
                                <li>Should not exceed more than 15 characters</li>
                                <li>Should contain atleast one numeric digits, one uppercase, one lowercase alphabet</li>
                                <li>Should contain at-least one special characters, such as @, #, $</li>
                                <li>Should not contain a blank space</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='validate.js') }}"></script>
    <script type="text/javascript">
        var activation_key = "{{activation_key}}";
    </script>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
{% endblock %}
