.reset-password{
    font-weight: 600;
    color: #6c6c6c;
    font-size: 18px;
}
.password-content{
    padding-left: 17px;
    font-size: 16px;
    line-height: 1.5;
}
.reset-password-btn{
    padding: 6px 25px;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    background: #f4941e;
    color: #fff !important;
}
.reset-bg{
    background-image: url('/auth/static/images/reset-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.reset-password-title{
    text-align: center;
    color: #FFF;
    font-weight: 600;
}
