<!--======== footer =========-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-md-12 text-center">
                © 2018 Trade name ownership is with <strong>fasiaamerica.org</strong> | FASIA is a non profitable organization registered under 501(3)c.
            </div>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
<!--======== end footer =========-->
