<header id="home" data-spy="scroll" data-target="#top-nav">
    <!-- menu 4 -->
    <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
        <div class="container tab-container">
            <div class="navbar-header">
                {% if not current_user.is_authenticated %}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% else %}
                    <a href="#" class="navbar-toggle collapsed mob-profile-menu" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                        {% if user.profile_image -%}
                            <img src="{{ user.profile_image }}" class="img-responsive n-user-img header-profile" alt="Profile pic">
                        {%- else -%}
                            <span class="glyphicon glyphicon-user header-profile"></span>
                        {%- endif %}
                    </a>
                {% endif %}
                <a class="navbar-brand default-logo scroll" href="#home">
                    <img src="{{ url_for('static', filename='images/Fasia-logo.png')}}" alt="logo"/>
                </a>
            </div>

            <div class="collapse navbar-collapse top-nav" id="menu-4">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="/auth/admin-dashboard">Dashboard</a></li>
                    <li class="dropdown hide-sm">
                        <a href="#" class="dropdown-toggle header-profile-pic profile-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% if user.profile_image %}
                            <img src="{{ user.profile_image }}" class="img-responsive header-profile" alt="Profile pic">
                            {% else %}
                            <span class="glyphicon glyphicon-user header-profile"></span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-header-menu">
                            <li>
                                <a class="logoutbtn" href="/auth/logout" >Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!-- end menu -->
</header>
<script>
	//For Auto Hide of Menu Toggle in Mobile Screen
	$(document).on('click',function(){
	$('.collapse').collapse('hide');
})
</script>
<!--======== end header =========-->
