<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{page_title+' | ' if page_title else ''}}FASIA Admin</title>

        <!-- Favicons -->
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon">
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="apple-touch-icon">

        <!--======== All Stylesheet =========-->
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">

        <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/linearicons.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/fasia.css')}}" rel="stylesheet">
        {% block custome_css %}
        <link href="{{ url_for('static', filename='js/lib/intl-tel-input-js/css/intlTelInput.css') }}" rel="stylesheet">
        {% endblock %}
        {% block lib_scripts %}
        <script src="{{ url_for('static', filename='js/lib/intl-tel-input-js/js/intlTelInput.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/intl-tel-input-js/js/utils.js') }}"></script>
        {% endblock %}
        <script src="{{ url_for('static', filename='js/common.js')}}"></script>
        <!--=== plugins ===-->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!--=== end plugins ===-->
        <!-- Include the plugin's CSS and JS: -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js') }}">
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/lib/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css') }}" type="text/css"/>
    </head>
    <body data-spy="scroll" data-target=".nav-top">
        <!-- header -->
        {% include 'home/header.html' ignore missing with context %}
        <!-- end header -->
        <div class="parent-section">    
            {% block main_content %}
            {% endblock %}
        </div>
        
        {% block bootstrap_modal %}
            <!-- ====== Common Modal ========= -->
            <div class="modal fade fasiamodal" id="common_modal" tabindex="-1" role="dialog" aria-labelledby="getAdvisorModalLabel" aria-hidden="true">
                <div class="modal-dialog fasia-dialog">
                    <div class="modal-content">
                        <div class="modal-body modal-content-align">
                            <a class="close" data-dismiss="modal" aria-hidden="true">
                                &times;</a>
                            <div class="text-center" id="msg_type"></div>
                            <div class="sub-div"></div>
                            <a class="btn common-model-btn" id="common_btn">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- footer -->
        {% include 'home/footer.html' ignore missing with context %}
        <!-- end footer -->
        <script src="{{ url_for('static', filename='validate.js') }}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
