[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=fasiaamerica
Group=www-data
WorkingDirectory=/home/fasiaamerica/fasia
Environment="PATH=/home/fasiaamerica/fasiaenv/bin"
ExecStart=/home/fasiaamerica/fasiaenv/bin/uwsgi --ini /home/fasiaamerica/fasia/web_services/fasiamain-uwsgi.ini

[Install]
WantedBy=multi-user.target